.FamForm h1 {
  margin-top: 8rem;
  margin-bottom: 0;
  text-align: center;
  font-family: "Castoro", serif;
  text-transform: uppercase;
}

.FamForm form {
  font-family: "Castoro", serif;
  margin: 7vh 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.FamForm label {
  font-size: 1.2rem;
}
.FamForm input,
.FamForm textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.FamForm #formsubmit {
  font-family: "Castoro", serif;
  font-weight: 700;
  font-size: medium;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 8px;
  border: 1px solid #294894;
  border-radius: 4px;
  box-shadow: 4px 4px 2px 1px rgba(38, 50, 158, 0.548);
  background-color: #294894;
  color: aliceblue;
  transition-duration: 0.5s;
}

.FamForm #formsubmit:hover {
  background-color: white;
  color: #294894;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .FamForm form {
    margin: 1rem 30rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .FamForm form {
    margin: 1rem 55vh;
    display: flex;
    justify-content: center;
  }
  .FamForm #formsubmit {
    margin-top: 0;
  }
}
@media screen and (min-width: 1000px) {
  .FamForm form {
    margin: 1rem 65vh;
    display: flex;
    justify-content: center;
  }
  .FamForm #formsubmit {
    margin-top: 0;
  }
}
@media screen and (min-width: 600px) {
  .FamForm form {
    margin: 1rem 20vh;
    display: flex;
    justify-content: center;
  }
  .FamForm #formsubmit {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .FamForm h1 {
    margin-top: 8rem;
    font-size: 1.75rem;
  }
  .FamForm form {
    margin: 1rem 10vh;
    display: flex;
    justify-content: center;
  }
  .FamForm label {
    font-size: 1rem;
  }
  .FamForm #formsubmit {
    margin-top: 0;
  }
}
