nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 90px;
  overflow: hidden;
  border-bottom: 2px solid #000000;
  background-color: white;
  margin: 1rem;
  margin-top: 0;
}
.companylogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 0.5rem;
}
h2 {
  font-family: "Castoro", serif;
  margin-left: 0.3rem;
  margin-top: 4rem;
  color: black;
}
.navlink {
  font-family: "Castoro", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #294894;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  font-size: 1.1em;
  margin-top: 3rem;
  margin-right: 1rem;
}
.navbar ul li {
  padding: 0.5rem;
}
@media screen and (max-width: 1025px) {
  nav {
    height: 150px;
    overflow: hidden;
    border-bottom: 2px solid #000000;
    background-color: white;
    margin: 1rem;
    margin-top: 0;
  }
  #logo {
    width: 70px;
  }
  h2 {
    font-size: 2rem;
    margin-left: 0.3rem;
    margin-top: 4rem;
    color: black;
  }
  .navbar ul {
    font-size: 1.5rem;
    margin-top: 4.5rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    margin-top: 4rem;
    color: black;
  }
  .navbar ul {
    font-size: 1rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 721px) {
  h2 {
    font-size: 1.1rem;
    margin-left: 0.3rem;
    margin-top: 4rem;
    color: black;
  }
  .navbar ul {
    font-size: 0.9rem;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 695px) {
  h2 {
    font-size: 1rem;
    margin-left: 0.3rem;
    margin-top: 4rem;
    color: black;
  }
  .navbar ul {
    font-size: 0.9rem;
    margin-right: 1.75rem;
  }
}

@media screen and (max-width: 517px) {
  h2 {
    font-size: 0.75rem;
    margin-left: 0.3rem;
    margin-top: 2rem;
    color: black;
    padding-right: 10px;
    flex-wrap: nowrap;
    overflow: visible;
  }
  .navbar ul {
    font-size: 0.75rem;
  }
  .navbar ul li {
    padding: 0.25rem;
  }
}
@media screen and (max-width: 376px) {
  nav {
    height: 120px;
    overflow: hidden;
    border-bottom: 2px solid #000000;
    background-color: white;
    margin: 1rem;
    margin-top: 0;
  }
  #logo {
    width: 55px;
  }
  h2 {
    font-size: 1rem;
    margin-left: 0.3rem;
    margin-top: 1.75rem;
    color: black;
  }
  .navbar ul {
    font-size: 0.9rem;
    margin-top: 2rem;
    flex-direction: column;
  }
}
