.NewFam #header {
  margin-top: 8rem;
  margin-bottom: 0;
  text-align: center;
  font-family: "Castoro", serif;
  text-transform: uppercase;
}

button {
  font-family: "Castoro", serif;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.7rem;
  padding: 8px;
  border: 1px solid #294894;
  border-radius: 4px;
  box-shadow: 4px 4px 2px 1px rgba(38, 50, 158, 0.548);
  background-color: #294894;
  color: aliceblue;
  transition-duration: 0.5s;
}
button:hover {
  background-color: white;
  color: #294894;
  font-weight: 700;
  cursor: pointer;
}
#button {
  text-decoration: none;
}
.container {
  font-family: "Castoro", serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0;
  justify-content: space-evenly;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}
.fam-container {
  flex: 1 1 40em;
  border: 4px solid #294894;
  max-width: 40%;
  max-height: 1%;
  margin: 2rem 1rem;
  padding: 10px;
  box-shadow: 4px 4px 2px 1px rgba(38, 50, 158, 0.548);
}
.fam-container h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.fam-container #img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  margin-right: 2rem;
  border: 4px solid #294894;
  border-radius: 5px;
  float: left;
}
.fam-container p {
  font-style: italic;
  display: inline;
  text-align: justify;
  font-size: 1rem;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
