.WinsForm #header {
  margin-top: 8rem;
  margin-bottom: 0;
  text-align: center;
  font-family: "Castoro", serif;
  text-transform: uppercase;
}

.WinsForm form {
  font-family: "Castoro", serif;
  margin: 4rem 40rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.WinsForm label {
  font-size: 1.2rem;
}
.WinsForm input,
.WinsForm textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.WinsForm #formsubmit {
  font-family: "Castoro", serif;
  font-weight: 700;
  font-size: medium;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 8px;
  border: 1px solid #294894;
  border-radius: 4px;
  box-shadow: 4px 4px 2px 1px rgba(38, 50, 158, 0.548);
  background-color: #294894;
  color: aliceblue;
  transition-duration: 0.5s;
}

.WinsForm #formsubmit:hover {
  background-color: white;
  color: #294894;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .WinsForm form {
    margin: 1rem 30rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .WinsForm form {
    margin: 1rem 55vh;
    display: flex;
    justify-content: center;
  }
  .WinsForm #formsubmit {
    margin-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  .WinsForm form {
    margin: 1rem 65vh;
    display: flex;
    justify-content: center;
  }
  .WinsForm #formsubmit {
    margin-top: 0;
  }
}

@media screen and (max-width: 1025px) {
  .WinsForm #header {
    margin-top: 15rem;
    margin-bottom: 0;
    font-size: 4rem;
  }
  .WinsForm form {
    margin: 5rem 10rem;
    display: flex;
    justify-content: center;
  }
  .WinsForm label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .WinsForm input,
  .WinsForm textarea {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid black;
  }
  .WinsForm #formsubmit {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .WinsForm form {
    margin: 1rem 20vh;
    display: flex;
    justify-content: center;
  }
  .WinsForm #formsubmit {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .WinsForm h1 {
    margin-top: 8rem;
    font-size: 1.75rem;
  }
  .WinsForm form {
    margin: 1rem 10vh;
    display: flex;
    justify-content: center;
  }
  .WinsForm label {
    font-size: 1rem;
  }
  .WinsForm #formsubmit {
    margin-top: 0;
  }
}

@media screen and (max-width: 376px) {
  .WinsForm #header {
    margin-top: 10rem;
    margin-bottom: 0;
    font-size: 2.75rem;
  }
  .WinsForm form {
    margin: 1.75rem 2rem;
    display: flex;
    justify-content: center;
  }
  .WinsForm label {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .WinsForm input,
  .WinsForm textarea {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid black;
  }
  .WinsForm #formsubmit {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
